name: Lint and test

on:
  push:

permissions:
  pull-requests: read

jobs:
  ruff:
    runs-on: ubuntu-latest
    container:
      image: python:3.12
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install ruff
    - name: Check code errors
      run: ruff check --output-format=github .

  mypy:
    runs-on: ubuntu-latest
    container:
      image: python:3.12
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install mypy
    - name: Check code errors
      run: mypy amazon_paapi

  test-py37:
    runs-on: ubuntu-latest
    container:
      image: python:3.7
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install -e . && pip install pytest
    - name: Run tests
      run: python -m pytest

  test-py38:
    runs-on: ubuntu-latest
    container:
      image: python:3.8
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install -e . && pip install pytest
    - name: Run tests
      run: python -m pytest

  test-py39:
    runs-on: ubuntu-latest
    container:
      image: python:3.9
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install -e . && pip install pytest
    - name: Run tests
      run: python -m pytest

  test-py310:
    runs-on: ubuntu-latest
    container:
      image: python:3.10
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install -e . && pip install pytest
    - name: Run tests
      run: python -m pytest

  test-py311:
    runs-on: ubuntu-latest
    container:
      image: python:3.11
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install -e . && pip install pytest
    - name: Run tests
      run: python -m pytest


  test-py312:
    runs-on: ubuntu-latest
    container:
      image: python:3.12
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install -e . && pip install pytest
    - name: Run tests
      run: coverage run -m pytest && coverage xml && coverage report
    - name: Save code coverage file
      uses: actions/upload-artifact@v4
      with:
        name: coverage
        path: coverage.xml

  sonar:
    runs-on: ubuntu-latest
    needs: [test-py312]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download a single artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage
      - name: Check code errors
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
